.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;

    .login-container {
        width: 450px;
        display: flex;
        flex-direction: column;

        button {
            float: right;
        }
    }
}