<html>
  <body>
    <div class="container-fluid container-fluid-body">
      <div class="app-wrapper">
        <div class="header">
          <app-header></app-header>
          <ngx-loading-bar></ngx-loading-bar>
          <!-- <button (click)="startLoading()">start</button>
          <button (click)="stopLoading()">stop</button> -->

        </div>
        <div class="body">
          <div class="wrapper">
            <div class="side-navigation" *ngIf="isAuthenticated">
              <app-side-navigation></app-side-navigation>
            </div>
            <div class="main-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>